node_modules
dist
.next
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.swp
*.swo
*~
prisma/migrations
packages/db/prisma/migrations

/frontend/node_modules
/frontend/.next
/admin/node_modules
/admin/.next
/backend/node_modules
/backend/.next
